*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
  
}
.main{
    width: 1250px;
    height: 700px;
    border: 1px solid black;
    margin-top: 20px;
}
.nav{
    width: 100%;
    height: 100px;
    border: 1px solid black;
background-color: #CCCCCC;
display: flex;

}
.two_part{
    width: 100%;
    height: 630px;
    border: 1px solid black;
    display: flex;
}
.first_div{
    width: 50%;
    height: 630px;
    border: 1px solid black;
}
.seond_div{
    width: 50%;
    height: 630px;
    border: 1px solid black; 
}
.circle_main{
    width: 600px;
    height: 600px;
    border: 1px solid black; 
    position: absolute;
 overflow: hidden;
}
.b_round{
    width: 600px;
    height: 600px;
    /* border: 1px solid rgb(37, 20, 188);  */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 100%;
   
    position: absolute;
    top: 350px;
  right: -300px;
}
.b_round:hover{
    transform: rotate(-360deg);
    transition-duration: 10s;
}
.round_up{
    width: 100%;
    height: 200px;
    /* border: 1px solid rgb(37, 20, 188);  */
    display: flex;
    justify-content: space-between;
}
.round_bottem{
    width: 100%;
    height: 200px;
    /* border: 1px solid rgb(37, 20, 188);  */
    display: flex;
    justify-content: space-between;
}
.round{
    width: 200px;
    height: 200px;
    border: 1px solid rgb(37, 20, 188); 
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
                      /* nav */
        
.left{
    width: 20%;
    height: 100px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: end;
}        
.right{
    width: 80%;
    height: 100px;
    /* border: 1px solid black; */
   display: flex;
   justify-content: end;
}   
ul{
    width: 50%;
    height: 80px;
   display: flex;
   justify-content: space-between;
   align-items: end;
   list-style: none;
    /* border: 1px solid rgb(255, 253, 253); */
}     
li{
    font-size: 20px;
}
.paragraf{
    width: 100%;
    height: 350px;
    border: 1px solid black;
}   
.photo{
    width: 100%;
    height: 100px;
    border: 1px solid black; 
    margin-top: 100px;
    display: flex;
    justify-content: center;
}   
.p{
    width: 100%;
    height: 100px;
    border: 1px solid black; 
    
}