*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
.main{
    width: 1250px;
    height: 700px;
    border: 1px solid black;
    margin-top: 20px;
    background-color: #8DB9F4;
    background-image: url(Star\ 1\ \(2\).png);
 background-repeat: no-repeat;
border-radius: 30px;
}
.nav{
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */
/* background-color: #CCCCCC; */
display: flex;
border-radius: 30px;
}
a{
    text-decoration: none;
}
.two_part{
    width: 100%;
    height: 600px;
    /* border: 1px solid black; */
    display: flex;
    border-radius: 30px;
}
.first_div{
    width: 70%;
    height: 600px;
    /* border: 1px solid black; */
  
    /* background-color: #CCCCCC; */
}
.first_div img{
opacity: 0.5;
}
.seond_div{
    width: 30%;
    height: 600px;
    /* border: 1px solid black;  */
}
.circle_main{
    width: 370px;
    height: 600px;
    /* border: 1px solid black;  */
    position: absolute;
 overflow: hidden;
}
.b_round{
    width: 650px;
    height: 650px;
    /* border: 1px solid rgb(37, 20, 188);  */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 100%;
    position: absolute;
    top: 300px;
    right: -350px;
    transition-property: transform;
    transition-duration: 10s;
    transition-timing-function: ease;
}
.b_round:hover{
    transform: rotate(-360deg);
}
.round_up{
    width: 100%;
    height: 200px;
    /* border: 1px solid rgb(37, 20, 188);  */
    display: flex;
    justify-content: space-between;
}
.round_bottem{
    width: 100%;
    height: 200px;
    /* border: 1px solid rgb(37, 20, 188);  */
    display: flex;
    justify-content: space-between;
}
.round{
    width: 200px;
    height: 200px;
    border: 1px solid rgb(37, 20, 188); 
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
                      /* nav */
        
.left{
    width: 20%;
    height: 100px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: end;
}        
.right{
    width: 80%;
    height: 100px;
    /* border: 1px solid black; */
   display: flex;
   justify-content: end;
   color: white;
}   
ul{
    width: 50%;
    height: 80px;
   display: flex;
 justify-content: space-around;
   align-items: end;
   list-style: none;
    /* border: 1px solid rgb(255, 253, 253); */
}     
li{
    font-size: 20px;
}
.paragraf{
    width: 100%;
    height: 350px;
    border: 1px solid transparent;
    /* position: absolute;
    top: 0px; */
}   
.photo{
    width: 100%;
    height: 100px;
    /* border: 1px solid black;  */
    margin-top: 100px;
    display: flex;
   justify-content: center;
   
}   
.photo img{
    margin-left: -540px;
}
.p{
    width: 100%;
    height: 100px;
    /* border: 1px solid black;  */
    display: flex;
  
}
p{
    width: 50%;
    height: 100px;
    /* border: 1px solid rgb(17, 242, 69);  */
    margin-left: 45px;
    font-size: 18px;
    color: white;
}
.oo{
    width: 75%;
    height: 200px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
}
.gola{
    width: 150px;
    height: 150px;
    /* border-radius: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.gola:hover{
    border-bottom: 3px solid rgb(230, 230, 244);

}
.gola_1{
    width: 90%;
    height: 90%;
    border: 1px solid black;
    border-radius: 100%;
    display: flex;justify-content: center;
    align-items: center;
    transition-property: transform;
    transition-duration: 5s;
    transition-timing-function: ease;

}
.gola_1 img{
    border-radius: 100%;
}
.gola_1:hover{
    transform: rotate(360deg);
}